@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
html, body {
  margin: 0px;
  padding: 0px;
}
html body, body body {
  background-image: url(/media/watercolour-1336856.jpg);
  background-size: auto;
  background-position: -80px -230px;
}
html ::placeholder, body ::placeholder {
  color: #cecece;
  font-size: 15px;
  opacity: 1;
}

.login {
  width: 20%;
  margin-left: 40%;
  margin-top: 12.5%;
  border-radius: 49% 51% 76% 24%/42% 40% 60% 58%;
  text-align: center;
  padding: 35px;
  height: 300px;
  background-image: linear-gradient(to bottom right, #5601c5, #9250FF);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}
.login div {
  font-size: 50px;
  font-family: "Ubuntu", "sans-serif";
  color: white;
  letter-spacing: 5px;
  margin-bottom: 50px;
}
.login .message {
  margin-top: 70px;
}
.login .message span {
  font-size: 18px;
  color: #ed4337;
  color: green;
  font-family: "Comic Sans MS", "sans-serif";
  letter-spacing: 10px;
  margin-bottom: 0px;
  padding: 40px 20px;
  border-radius: 20px 5px;
}
.login input {
  border: none;
  color: #cecece;
  background-color: #ffffff00;
  display: block;
  font-size: 20px;
  border-bottom: 1px solid #b3b3b3;
  margin: 15px auto;
  padding: 5px 2px;
  padding-bottom: 1px;
  transition-duration: 0.2s;
}
.login input:focus {
  outline: none;
  border-bottom: 1px solid #3b3b3b;
}
.login button {
  margin-top: 20px;
  background: none;
  border: 1px solid white;
  padding: 6px 24px;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  mix-blend-mode: color-dodge;
  transition-duration: 0.2s;
}
.login button:focus {
  outline: none;
}
.login button:hover {
  background-color: white;
  color: black;
  mix-blend-mode: screen;
  cursor: pointer;
}
