@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

html,
body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    .canvas-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        touch-action: none;
    }

    #node-info {
        display: none;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: rgba(255, 255, 255, .975);
        padding: 7.5px;
        border-radius: 3px;
        border: 1.5px solid #f2f2f2;

        #node-info-title {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.3em;
            padding-bottom: 2.5px;
            margin-bottom: 2.5px;
            border-bottom: 2px dashed #f4f4f4;
        }
        #node-info-desc {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.9em;
        }

        div {
            transition: .3s ease;

            &:hover {
                opacity: .8;
            }

            &:focus {
                outline: none;
                transform: scale(1.04);
            }
        }
    }

    .side-bar {
        position: fixed;
        // top: 15px;
        bottom: 15px;
        right: 15px;
        background-color: rgba(255, 255, 255, .95);
        border: 2.5px solid #f2f2f2;
        max-width: 175px;

        .debug {
            display: block;
            padding: 15px;
            font-family: 'Ubuntu Mono', monospace;
            border-bottom: 2px solid #f2f2f2;

            span {
                font-family: inherit;
            }
        }

        .tools {
            display: flex;
            padding: 15px;
            font-family: 'Ubuntu Mono', monospace;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                display: inline-block;
                transition: .3s ease;
                color: #000;
                font-size: 2em;
                margin: 5px;
                text-align: center;
                vertical-align: middle;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    opacity: .7;
                }

                &.active-tool {
                    color: #FF3C98;
                }
            }
        }
        
        .floor-tools {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // position: absolute;
            // bottom: 0;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            border-top: 2px solid #f2f2f2;

            div:not(#floor-out) {
                display: inline-block;
                font-size: 1.6em;
                transition: .3s ease;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                    transform: scale(1.15);
                }

                &.disabled {
                    opacity: .4;
                }

                &.disabled:hover {
                    cursor: default;
                    opacity: .4;
                    transform: scale(1);
                }
            }

            #floor-out {
                display: inline-block;
                font-size: 1.6em;
                font-family: 'Times New Roman', serif;
            }
        }
    }
}