html,
body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    .canvas-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        touch-action: none;
    }

    .side-bar {
        position: fixed;
        top: 15px;
        bottom: 15px;
        right: 15px;
        background-color: rgba(255, 255, 255, .95);
        border: 2.5px solid #f2f2f2;
        max-width: 200px;

        .debug {
            display: block;
            padding: 15px;
            font-family: 'Ubuntu Mono', monospace;
            border-bottom: 2px solid #f2f2f2;

            span {
                font-family: inherit;
            }
        }

        .tools {
            display: flex;
            padding: 15px;
            font-family: 'Ubuntu Mono', monospace;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                display: inline-block;
                transition: .3s ease;
                color: #000;
                font-size: 2em;
                margin: 5px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    opacity: .7;
                }

                &.active-tool {
                    color: #FF3C98;
                }
            }
        }
        
        .floor-tools {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            border-top: 2px solid #f2f2f2;

            div {
                display: inline-block;
                font-size: 1.6em;
                transition: .3s ease;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                    transform: scale(1.15);
                }

                &.disabled {
                    opacity: .4;
                }

                &.disabled:hover {
                    cursor: default;
                    opacity: .4;
                    transform: scale(1);
                }
            }
        }
    }
}