@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }

    q {
        font-family: 'Open Sans', monospace;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 5em;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 5px 25px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        align-items: center;
        overflow: hidden;
        -webkit-box-shadow: 0px 2px 4px #cecece;
                box-shadow: 0px 2px 4px #cecece;
        -webkit-transition: .2s ease;
        transition: .2s ease;

        .lets-go-div {
            display: inline-block;
            min-width: 110px;
            background-size: 200% 100%;
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0,0,0,0)), color-stop(50%, #622dff), to(#622dff));
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 50%, #622dff 50%, #622dff 100%);
            background-position: 0 0;
            -webkit-transition: .15s ease;
            transition: .15s ease;
            padding: 5px;
            border-radius: 3px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;

            &:hover {
                cursor: pointer;
                background-position: 100% 0;
                color: #fff;
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
            }

            &:focus {
                outline: none;
            }

            i {
                margin-left: 5px;
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    article {
        padding-top: 5em;

        .top-main {
            position: relative;

            .top-main-inner {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: relative;
                overflow: hidden;

                .top-background-vid {
                    position: absolute;
                    left: 0; right: 0;
                    width: 100%;
                    z-index: 0;
                    -webkit-filter: blur(2.5px);
                            filter: blur(2.5px);
                }
    
                .top-foreground {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    z-index: 1;
                    width: 100%;
                    background-color: rgba(255,255,255,.5);
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    padding: 1.6em;
    
                    .top-logo {
                        width: 10em;
                        height: auto;
                        z-index: 1;
                    }
                }
            }

            .scroll-down-container {
                width: 100%;
                height: 3em;
                position: absolute;
                bottom: -1.5em;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                #scroll-top-main {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    background-color: #fff;
                    border-radius: 50%;
                    font-size: 2em;
                    width: 1.5em;
                    height: 1.5em;
                    color: #222;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;

                    &:hover {
                        cursor: pointer;
                        -webkit-transform: scale(1.1);
                                transform: scale(1.1);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        main {
            padding: 0 25px;

            & > *:first-child {
                padding-top: 15px;
            }

            .info-element {
                text-align: center;

                .quote-div {
                    margin: 2em 0;
        
                    q {
                        font-size: 1.6em;
                        display: block;
        
                        &::before {
                            content: "";
                        }
        
                        &::after {
                            content: "";
                        }
                    }
        
                    span {
                        display: block;
                        font-size: .8em;
                        color: #222;
                        margin-left: 5px;
                    }
                }
        
                .img-container {
                    width: 100%;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
        
                    & > * {
                        margin-right: 15px;
        
                        &:last-child {
                            margin-right: 0;
                        }
                    }
        
                    img {
                        width: auto; height: auto;
                        max-width: 350px; max-height: 400px;
                    }
        
                    div {
                        max-width: 30%;
                        text-align: left;
                    }
                }
    
                .video-container {
                    .video-final {
                        position: relative;
                        display: inline-block;
                        max-width: 50%;
    
                        * {
                            border-radius: 15px 0;
                        }
                        
                        video {
                            width: 100%;
                            height: auto;
                        }
    
                        .overlay {
                            position: absolute;
                            left: 0; top: 0;
                            width: 100%; height: 100%;
                            background-color: rgba(255,255,255,.5);
                        }
                    }

                    & > div {
                        max-width: 60%;
                        margin: 0 auto;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 50px;
        background-color: #303841;
        padding: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        color: #e6f2ff;
        -webkit-box-shadow: 0px -1px 15px #aaa;
                box-shadow: 0px -1px 15px #aaa;

        .footer-logo-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 3px solid #e6f2ff;

            .footer-logo {
                width: 10em; 
                height: auto;
            }
        }

        .footer-content-container {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;

            h3 {
                margin: 0;
                margin-bottom: 7.5px;
                font-size: 1.7em;
                font-family: 'Space Mono', monospace;
            }

            .footer-part {
                text-align: right;
                margin-bottom: 7.5px;
                font-size: 1.1em;

                a {
                    color: inherit;
                }

                .icon-link {
                    text-decoration: none;

                    i {
                        font-size: 1.8em;
                        -webkit-transition: .3s ease;
                        transition: .3s ease;

                        &:hover {
                            cursor: pointer;
                            -webkit-transform: scale(1.1);
                                    transform: scale(1.1);
                        }
                    }
                }

                & > * {
                    margin-right: 7.5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .copyright-notice {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-family: 'Space Mono', monospace;
                font-size: .8em;
            }
        }
    }
}

@media only screen and (max-width: 600px) {        
    .top-logo {
        width: 30% !important;
    }

    .img-container {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
        -webkit-box-pack: justify !important;
            -ms-flex-pack: justify !important;
                justify-content: space-between !important;

        & > * {
            margin: 0 !important;
            margin-bottom: 15px !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        
        div {
            max-width: 100% !important;
            text-align: center !important;
        }
    }

    .video-container {
        .video-final {
            max-width: 100% !important;
        }

        & > div {
            max-width: 100% !important;
        }
    }

    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify !important;
            -ms-flex-pack: justify !important;
                justify-content: space-between !important;
        -webkit-box-align: stretch !important;
            -ms-flex-align: stretch !important;
                align-items: stretch !important;

        .footer-logo-container {
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;
            border-bottom: 2px solid #e6f2ff !important;
            border-radius: 30%;
            margin-bottom: 25px !important; 
            justify-content: center !important;

            .footer-logo {
                width: 7em !important;
            }
        }

        .footer-content-container {
            width: 75%;
            margin: 0 auto;

            .copyright-notice {
                margin-top: 15px;
                padding-top: 15px;
                border-top: 2px dashed #e6f2ff;
            }
        }
    }
}