@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

html,
body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Ubuntu', sans-serif;
    }

    .canvas-wrapper {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -ms-touch-action: none;
            touch-action: none;
    }

    .nav {
        border: 2px solid #f2f2f2;
        -webkit-box-shadow: 1px 1px 5px #f2f2f2;
                box-shadow: 1px 1px 5px #f2f2f2;
        position: absolute;
        top: 10px; left: 10px;
        padding: 5px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: stretch;
            -ms-flex-pack: stretch;
                justify-content: stretch;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        color: #444;
        border-radius: 4px;
        background-color: #fff;
        
        a {
            color: inherit;
            text-decoration: none;
        }

        .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-size: 1.4em;
            -webkit-transition: .3s ease;
            transition: .3s ease;

            &:hover {
                cursor: pointer;
                color: #622dff;
            }
        }

        & > * {
            display: inline-block;
            padding: 0 7.5px;
            border-right: 1.5px solid #f2f2f2;
        }

        & > *:last-child {
            border-right: none;
        }

        .title {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;

            #map-name {
                margin: 0;
                margin-right: 2.5px;
                font-size: 1.35em;
            }
    
            #map-version {
                font-size: .8em;
            }
        }
    }

    .dialogue-back {
        z-index: 1;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0,0,0,0.6);
        display: none;

        .dialogue {
            position: relative;
            background-color: #fff;
            border: 2px solid #f2f2f2;
            padding: 25px;
            width: 60%;
            margin: 0 auto;
            margin-top: 25px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;

            .close-dialogue {
                position: absolute;
                top: -.45em; right: -.45em;
                background: radial-gradient(#fff, rgba(0,0,0,0));
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                font-size: 1.8em;
                -webkit-transition: .3s ease;
                transition: .3s ease;
                color: #222;

                &:hover {
                    cursor: pointer;
                    color: #f22;
                    -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                }
            }

            .dialogue-sub-btn {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 2.5px 5px;
                border-radius: 4px;
                -webkit-transition: .3s ease;
                transition: .3s ease;
                background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #622dff), to(#622dff));
                background: linear-gradient(to right, #fff 0%, #fff 50%, #622dff 50%, #622dff 100%);
                background-size: 200% 100%;
                background-position: 0 0;

                border: 2px solid #f2f2f2;
                color: #f2f2f2;

                &:not(.disabled) {
                    border: 2px solid #622dff;
                    color: #622dff;
                }

                &:not(.disabled):hover {
                    cursor: pointer;
                    background-position: 100% 0;
                    color: #fff;
                }
            }
        }
    }

    #map-opener-back {
        .map-opener {
            h3 {
                margin: 0;
            }

            #map-opener-items {
                margin-top: 15px;
                padding: 0 5px;
                max-height: 40%;
                overflow-y: auto;

                .map-opener-item {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    padding: 4px 5px;
                    border-left: 1.5px solid #fff;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;

                    &:not(:nth-child(even)) {
                        background-color: #fafafa;
                    }

                    &:hover {
                        cursor: pointer;
                        border-color: #622dff;
                        background-color: #f2f2f2;
                    }

                    & > span {
                        display: inline-block;
                        width: 50%;
                        overflow-x: auto;

                        &:last-child {
                            text-align: right;
                        }
                    }

                    &.selected {
                        border-color: #622dff;
                        background-color: #f2f2f2;
                    }
                }
            }

            .btn-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
                -webkit-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;
                margin-top: 10px;
            }
        }
    }

    #map-saver-back {
        .map-saver {
            #map-saver-items {
                background-color: #fafafa;
                padding: 10px;
                max-height: 45%;
                overflow-y: auto;
    
                & > span {
                    display: inline-block;
                    margin-right: 10px;
                    border: 1.5px solid #ccc;
                    padding: 2.5px 5px;
                    border-radius: 4px;
                    color: #444;
                    background-color: #fafafa;
                    -webkit-transition: .3s ease;
                    transition: .3s ease;
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    &:hover {
                        cursor: default;
                        background-color: #f6f6f6;
                    }
                }
            }
    
            .btn-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: stretch;
                    -ms-flex-pack: stretch;
                        justify-content: stretch;
                -webkit-box-align: stretch;
                    -ms-flex-align: stretch;
                        align-items: stretch;
                margin-top: 10px;
    
                .input-group {
                    -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: stretch;
                        -ms-flex-align: stretch;
                            align-items: stretch;
                    padding-right: 7.5px;
    
                    .input-group-inputs {
                        -webkit-box-flex: 1;
                            -ms-flex-positive: 1;
                                flex-grow: 1;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: stretch;
                            -ms-flex-pack: stretch;
                                justify-content: stretch;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
    
                        #map-saver-name, #map-saver-version {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.05em;
                            padding: 5px;
                            border: 1.5px solid #f2f2f2;
                            border-radius: 3px;
                            color: #444;
                            min-width: 0;
            
                            &:focus {
                                outline: none;
                            }
            
                            &.illegal {
                                color: #f66;
                                border-color: #f66;
                            }
        
                            &.warning {
                                color: #fb4;
                                border-color: #fb4;
                            }
                        }
    
                        #map-saver-name {
                            -webkit-box-flex: 1;
                                -ms-flex-positive: 1;
                                    flex-grow: 1;
                            margin-right: 5px;
                        }
                    }  
    
                    .map-saver-err-msg, .map-saver-wrn-msg {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        margin-top: 5px;
                        padding: 5px;
                        font-size: .9em;
                        background-color: #fdd;
                        border-radius: 3px;
                        color: #f44;
                        display: none;
    
                        i {
                            margin-right: 5px;
                        }
                    }
    
                    .map-saver-wrn-msg {
                        background-color: #ffc;
                        color: #fb2;
                    }
                }
    
                #map-saver-save {
                    &.warning {
                        background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #fb4), to(#fb4)) !important;
                        background: linear-gradient(to right, #fff 0%, #fff 50%, #fb4 50%, #fb4 100%) !important;
                        background-size: 200% 100% !important;
                        border: 2px solid #fb4 !important;
                        color: #fb4 !important;
    
                        &:hover {
                            cursor: pointer !important;
                            background-position: 100% 0 !important;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }

    #loading-back {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.25);
        z-index: 2;
        display: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        #loading {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            @-webkit-keyframes rect-rotate {
                0% {
                    -webkit-transform: rotate(0);
                            transform: rotate(0); 
                }
                50%, 100% {
                    -webkit-transform: rotate(180deg);
                            transform: rotate(180deg); 
                } 
            }

            @keyframes rect-rotate {
                0% {
                    -webkit-transform: rotate(0);
                            transform: rotate(0); 
                }
                50%, 100% {
                    -webkit-transform: rotate(180deg);
                            transform: rotate(180deg); 
                } 
            }
            
            @-webkit-keyframes fill-rect {
                0%, 50% {
                    height: 0;
                }
                100% {
                    height: inherit;
                } 
            }
            
            @keyframes fill-rect {
                0%, 50% {
                    height: 0;
                }
                100% {
                    height: inherit;
                } 
            }

            .loading-anim {
                z-index: 3;
                color: #fff;
                height: 48px;
                width: 48px;
                position: relative;
                border: 4px solid;
                display: inline-block;
                -webkit-animation: rect-rotate 1s linear infinite;
                        animation: rect-rotate 1s linear infinite;
        
                &::after {
                    content: '';
                    height: 0;
                    width: inherit;
                    display: block;
                    background: rgba(255,255,255,.5);
                    -webkit-animation: fill-rect 1s linear infinite;
                            animation: fill-rect 1s linear infinite;
                }
            }

            span {
                margin-top: 15px;
                color: #fff;
            }
        }
    }

    #node-info {
        display: none;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: rgba(255, 255, 255, .975);
        padding: 7.5px;
        border-radius: 3px;
        border: 1.5px solid #f2f2f2;
        min-width: 50px;
        max-width: 300px;

        #node-info-title {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.3em;
            padding-bottom: 2.5px;
            margin-bottom: 2.5px;
            border-bottom: 2px dashed #f4f4f4;
        }

        #node-info-desc {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.9em;
        }

        & > div {
            -webkit-transition: .3s ease;
            transition: .3s ease;

            &:hover {
                opacity: .8;
            }

            &:focus {
                outline: none;
                -webkit-transform: scale(1.03);
                        transform: scale(1.03);
            }
        }
    }

    #stairs-info {
        display: none;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: rgba(255, 255, 255, .975);
        padding: 7.5px;
        border-radius: 3px;
        border: 1.5px solid #f2f2f2;

        div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: stretch;
                -ms-flex-pack: stretch;
                    justify-content: stretch;
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;
            width: 100%;
            
            label {
                display: inline-block;
                margin-right: 5px;
            }
    
            input {
                display: inline-block;
                width: 100%;
                font-family: 'Ubuntu Mono', monospace;
                margin: 2.5px 0;
                border: none;
                font-size: 0.9em;
                -webkit-transition: .3s ease;
                transition: .3s ease;
    
                &:hover {
                    opacity: .8;
                }
    
                &:focus {
                    outline: none;
                    -webkit-transform: scale(1.03);
                            transform: scale(1.03);
                }
            }
        }
    }

    #key-code-wrapper {
        z-index: 1;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
        display: none;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .key-codes {
            display: block;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 65%;
            height: 85%;
            background-color: #fff;

            .close-wrapper {
                width: 100%;
                height: 10%;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                font-size: 1.6em;
                padding: 15px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                i {
                    -webkit-transition: .3s ease;
                    transition: .3s ease;

                    &:hover {
                        cursor: pointer;
                        color: #FF2A19;
                        -webkit-transform: rotate(180deg) scale(1.1);
                                transform: rotate(180deg) scale(1.1);
                    }
                }
            }

            .shortcut-div {
                width: 100%;
                height: 90%;
                overflow: auto;

                &>div {
                    width: 100%;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    padding: 15px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;

                    &>div {
                        display: inline-block;

                        .key {
                            background-color: #444;
                            color: #fff;
                            padding: 2.5px 5px;
                            border-radius: 3px;
                            font-family: 'Ubuntu Mono', monospace;
                        }
                    }
                }

                &>div:nth-child(even) {
                    background-color: #f6f6f6;
                }
            }
        }
    }

    .side-bar {
        position: fixed;
        // top: 15px;
        bottom: 15px;
        right: 15px;
        background-color: rgba(255, 255, 255, .95);
        border: 2.5px solid #f2f2f2;
        max-width: 175px;
        -webkit-box-shadow: 1px 1px 5px #f2f2f2;
                box-shadow: 1px 1px 5px #f2f2f2;

        .debug {
            display: block;
            padding: 15px;
            font-family: 'Ubuntu Mono', monospace;
            border-bottom: 2px solid #f2f2f2;

            span {
                font-family: inherit;
            }
        }

        .tools {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 15px;
            font-family: 'Ubuntu Mono', monospace;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

            div {
                display: inline-block;
                -webkit-transition: .25s ease;
                transition: .25s ease;
                color: #000;
                font-size: 2em;
                margin: 5px;
                text-align: center;
                vertical-align: middle;

                &:hover {
                    cursor: pointer;
                    -webkit-transform: scale(1.2) rotate(7.5deg);
                            transform: scale(1.2) rotate(7.5deg);
                    opacity: .7;
                }

                &.active-tool {
                    color: #FF3C98;
                }
            }
        }

        .floor-tools {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            // position: absolute;
            // bottom: 0;
            padding: 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            border-top: 2px solid #f2f2f2;

            div:not(#floor-out) {
                display: inline-block;
                font-size: 1.6em;
                -webkit-transition: .3s ease;
                transition: .3s ease;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                    -webkit-transform: scale(1.15);
                            transform: scale(1.15);
                }

                &.disabled {
                    opacity: .4;
                }

                &.disabled:hover {
                    cursor: default;
                    opacity: .4;
                    -webkit-transform: scale(1);
                            transform: scale(1);
                }
            }

            #floor-out {
                display: inline-block;
                font-size: 1.6em;
                font-family: 'Times New Roman', serif;
            }
        }
    }
} 

@media only screen and (max-width: 1000px) {
    .map-saver {
        .btn-container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            #map-saver-save {
                margin-top: 15px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        right: 10px;
    }

    .dialogue {
        width: 90% !important;
    }

    .key-code-wrapper {
        #key-codes {
            width: 90% !important;
            height: 90% !important;
        }
    }
}